<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Beauty :: Lock</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani|Teko">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="http://localhost/painless/beauty/public/css/beauty.css"/>
</head>
<body>
<section id="access-container">
	<div id="access-container-form">
		<div id="access-container-form-header">
			<div class="container-img"></div>
			<img src="public/img/avatar/men_512.png"/>
			<p>John Doe</p>
		</div>

		<div id="access-container-form-body">
			<div class="field">
				<p class="control has-icons-left">
					<input class="input" type="password" placeholder="Senha" autocomplete="false">

					<span class="icon is-small is-left">
						<i class="fa fa-lock"></i>
					</span>
				</p>
			</div>
			<div class="field">
				<p class="control">
					<a href="index.html" class="btn btn-primary btn-block">
						Desbloquear
					</a>
				</p>
			</div>

			<div class="field">
				<p class="control">
					<a href="recover.html" class="btn btn-happy btn-block">
						Esqueci minha senha
					</a>
				</p>
			</div>
		</div>
	</div>
</section>
</body>
</html>